<launch>

    <param name="robot_description" command="xacro '$(find quadruped_robot_description)/urdf/quadruped_robot.urdf.xacro'"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
        <param name="use_gui" value="true"/>
        <param name="rate" value="1000"/>
        <rosparam>
            zeros:
                Leg-LF-HAA_joint: 0.6
                Leg-LF-HFE_joint: 2.5
                Leg-LF-KFE_joint: 0.8
                Leg-RF-HAA_joint: 0.6
                Leg-RF-HFE_joint: 0.8
                Leg-RF-KFE_joint: 2.0
                Leg-LH-HAA_joint: 0.6
                Leg-LH-HFE_joint: 2.5
                Leg-LH-KFE_joint: 0.8
                Leg-RH-HAA_joint: 0.6
                Leg-RH-HFE_joint: 0.8
                Leg-RH-KFE_joint: 2.0
        </rosparam>
        <!--<rosparam param="source_list">["/eeduro_delta_joint_state_publisher/joint_states"]</rosparam>-->
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="ignore_timestamp" value="true"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find quadruped_robot_description)/launch/quadruped_robot.rviz"/>

</launch>
